<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.tvvideo">
    <!-- <uses-feature
         android:name="android.software.leanback"
         android:required="true" />-->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <!-- <uses-feature
         android:name="android.hardware.touchscreen"
         android:required="false" />-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:configChanges="keyboard|keyboardHidden|navigation"
        android:largeHeap="true"
        android:name="org.videolan.libvlc.VLCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:supportsRtl="true">
        <activity android:name=".activity.StartActivity">
            <!-- 实现开机启动，替换系统的Launcher -->
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                 <category android:name="android.intent.category.LAUNCHER" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.MONKEY" />
             </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.ExamIntroActivity"/>
        <activity android:name=".activity.HospitIntroActivity"/>
        <activity android:name=".activity.InHospitalActivity"/>
        <activity android:name=".activity.VideoSelectActivity"/>
        <activity android:name=".activity.DoctorsSelectActivity"/>
        <activity android:name=".activity.DoctorDetialActivity"/>
        <activity android:name=".activity.NurseDetialActivity"/>
        <activity android:name=".activity.NursesSelectActivity"/>
        <activity android:name=".activity.PolicyIntroActivity"/>
        <activity android:name=".activity.SettingsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.RightIntroActivity"/>
        <activity android:name=".activity.InHospitalIntroActivity"/>
        <activity android:name=".activity.OrderMealActivity"/>
        <activity android:name=".activity.RentActivity"/>
        <activity android:name=".activity.AdviceActivity"/>
        <activity android:name=".activity.FeeActivity"/>
        <activity android:name=".activity.PersionalActivity"/>
        <activity android:name=".activity.PriceActivity"/>
        <activity android:name=".activity.ServerActivity"/>
        <activity android:name=".activity.WeatherActivity"/>
        <activity android:name=".activity.ComplainActivity"/>
        <activity android:name=".activity.ComplainAndAdviceActivity"/>
        <activity android:name=".activity.SatisfactionActivity"/>
        <activity android:name=".activity.ServerInHospitalActivity"/>

        <service android:name=".tools.PushService"/>
        <activity android:name=".activity.TestMoreActivity"/>
        <activity android:name=".activity.TestActivity">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.android.tvvideo.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
        </activity>
        <activity
            android:name="com.android.tvvideo.video.TVPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
        </activity>
        <service android:name="org.videolan.vlc.PlaybackService" />
        <service android:name=".tools.TimeTaskService"/>
    </application>

</manifest>